.Intro-head {
  display: flex;
  align-items: flex-end;

  margin-bottom: 3rem;
}

.Intro-head-right p:last-child,
.Intro-body-left p:last-child {
  margin-bottom: 0;
}

.Intro-head-left {
  margin-right: 1.5rem;
}

.Intro-head-left h1 {
  max-width: 12rem;
  text-align: right;
  margin: 0;
}

.Intro-body {
  display: flex;
  align-items: flex-end;
}

.Intro-body-left {
  margin-right: 1.5rem;
  flex: 1;
}

.Intro-body-right {
  min-width: 10rem;
}
